html {
  background-color: #204345;
}

header {
  color: red;
  background-size: 10px, 30px;
  background-color: #7a8c5e;
  border: 1px, red;
  /*
  box-shadow: 40px 4px 32px 0px rgba(0,0,0,1);
  */
}
